.moviesPage {
    padding: 40px 0;
}

.mainContainer {
    margin-left: auto;
    margin-right: auto;
}

.searchForm {
    display: flex;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.searchForm__input {
    width: 80%;
    padding: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 20px;
    background-color: #e8e8e8;
}

.searchForm__button {
    width: 20%;
    padding: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    color: #e8e8e8;
    background-color: #1f1f1f;
}

.searchForm__button:hover,
.searchForm__button:focus {
    color: #1f1f1f;
    background-color: orange;
}