header {
    background-color: #1f1f1f;
    min-height: 10vh;
    width: 100%;
}

.mainContainer {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 100%;
    align-items: center;

}

.mainNavigation {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.mainNavigation__link {
    display: flex;
    align-items: center;
    margin-right: 45px;
    padding: 20px 0;
    font-size: 35px;
    font-weight: 600;
    color: rgb(243, 239, 231);
    text-decoration: none;
}

.mainNavigation__link.active {
    color: rgb(131, 131, 9);
    border-bottom-color: rgb(136, 136, 21);
}

.mainNavigation__link:focus,
.mainNavigation__link:hover {
    color: rgb(146, 146, 22);
}